:root {
  --text: #fff;
  --text-sec: #bbb;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, .2), 
  rgba(0, 0, 0, .5)), 
  url(../img/cms/admin-login-bg3.jpg);
  min-height: calc(100vh - 59px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 10px;
}

#formWrapper {
  margin: 100px auto 0 auto;
  color: var(--text);
  padding: 30px 50px;
} 

#formWrapper .btn:not(label) {
  margin: 40px 0;
  background: #000;
  padding: 10px;
  margin-top: 50px;
  border: none;
} 

#formWrapper input {
  border: none;
  background: none;
  color: var(--text);
}

#formWrapper input::placeholder {
  color: var(--text-sec);
}

.forget {
  color: var(--text);
}

#formWrapper i {
  display: block;
}

#formWrapper i.fa-upload {
  display: inline-block;
  color: white;
}

#formWrapper .form-group {
  border-bottom: 1px solid var(--text);
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 24px;
}

/* remove bootstrap input outline */
#formWrapper .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}